<footer id="footer">
  <div class="container">
    <div class="wrapper">
      <div class="location">
        <img src="/assets/images/icons/location.svg" alt="location-icon" />
        {% assign lang = page.lang %}
        {% assign locale = site.data.locales[lang] %}
        <p>
          <span>
            {% for location in locale.footer.location %}
              {{ location.name }}</br>
            {%endfor%}
          </span>
        </p>
      </div>
      <div class="copy-right button"><p>© 2024 Sounds in the City</p></div>
    </div>
  </div>
</footer>
