<div id="banner">
  <div class="logo-text">
     <img src="{{ site.data.locales[page.lang].index.logo }}" alt="Logo" />
  </div>
  <div class="slider">
    <div class="slider1" id="slider1">
      {% assign lang = page.lang %}
      {% assign random_projects = site.data.projects[lang] | sort: 'end-date' | reverse | slice: 0,5 %}
      {% for slide in random_projects %}
        <div class="slide">
          <a href="projects/{{slide.url}}">
            <img src="{{slide.image}}" alt="{{slide.title}}" />
          </a>
          <div class="slide-content">
            <a class="slider-links" href="projects/{{slide.url}}">
              <h2 class="slider-hdr button">{{slide.title}}</h2>
              <p>{{slide.description}}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="slick-prev">
      <img
        src="/assets/images/icons/arrow-left-black.svg"
        alt="arrow-left"
        class="icon-black"
      />
      <img
        src="/assets/images/icons/arrow-left.svg"
        alt="arrow-left"
        class="icon-white"
      />
    </div>
    <div class="slick-next">
      <img
        src="/assets/images/icons/arrow-right-black.svg"
        alt="arrow-right"
        class="icon-black"
      />
      <img
        src="/assets/images/icons/arrow-right.svg"
        alt="arrow-right"
        class="icon-white"
      />
    </div>
  </div>
</div>
<div id="info">
  <div class="container">
    <div class="info-wrapper">
      <h1 class="heading">
        {{ t.cities }} <br />
        {{ t.sound }}
      </h1>
      <h4 class="button">{{t.notbad}}</h4>
      <p>{{t.description}}</p>
    </div>
  </div>
</div>
<div class="accordions">
  {% for item in t.accordions %}
  <div class="accordion">
    <button class="acc-header button" data-target="{{ item.id }}">
      <span class="label container">{{ item.title }}</span>
      <span class="icon"></span>
    </button>
    <div id="{{ item.id }}" class="acc-content">
      <div class="container">
        <div class="acc-home">
          <figure>
          <img src="{{ item.image }}" alt="" />
          <figcaption class="caption">{{ item.caption }}</figcaption>
          </figure>
          <p class="desc">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div id="team">
  <div class="card" id="card1">
    <div class="images">
      <a href="./about.html">
      <div class="overlay">
        <img src="/assets//images/icons/eye.svg" alt="" class="icon" />
        <p class="button">{{t.discover}}</p>
      </div>
      </a>
      <!-- Assuming 6 images, 3 in each row for card1 -->
      <img src="/assets/images/team/Team_groupshot.jpg" alt="" />

    </div>

    <div class="card-footer border-t border-l">
      <h3 class="button">{{t.who}}</h3>
      <p>{{t.meet}}</p>
    </div>
  </div>
  <div class="card border-l" id="card2">
    <div class="images">
      <a href="./projects/">
      <div class="overlay">
        <img src="/assets/images/icons/eye.svg" alt="" class="icon" />
        <p class="button">{{t.view}}</p>
      </div>
      </a>
      <img src="/assets/images/findings.png" alt="" />
    </div>
    <div class="card-footer border-b border-r">
      <h3 class="button">{{t.funding}}</h3>
    </div>
  </div>
</div>
