<div id="nav">
  <ul>
    {% for locale in site.data.locales %}
    <li>
      <a href="{{ page.path | replace_first: page.lang, locale[0] | replace: '/index.html', ''| replace: '.html', '' | relative_url }}" class="{% if locale[0] == page.lang %}active{% endif %} language">
        {{ locale[0] | upcase }}
      </a>
    </li>
    <li class="language">/</li>
    {% endfor %}
  </ul>
  <a href="/">
    <img alt="logo" src="/assets/images/logo.svg" />
  </a>
  <div class="menu text-btn" id="menu-open-btn">
    <div class="bars"></div>
    <span>MENU</span>
  </div>
</div>
<div class="navigation" id="nav-container">
  <div class="menu text-btn close" id="menu-close-btn">
    <div class="bars"></div>
    <span>CLOSE</span>
  </div>
  <ul class="container main-menu">
    {% assign lang = page.lang %}
    {% assign navigation = site.data.navigation[lang] %}
    {% assign projects = site.data.projects[lang] %}
    {% for item in navigation %}
    <li class="menu-item item-main">
      <a href="/{{ lang }}{{ item.url }}" class="heading menu-link">
        {{ item.title }}
        <img alt="arrow" class="icon-white" src="/assets/images/icons/arrow-tilt-white.svg" />
        <img alt="arrow" class="icon-black" src="/assets/images/icons/arrow-tilt.svg" />
      </a>
      {% if item.url contains '/projects/' %}
        <ul class="sub-menu">
          {% for project in projects %}
          <li class="menu-item">
            <a href="/{{ lang }}/projects/{{ project.url }}" class="text-link menu-link-2">
              {{ project.title }}
              <img alt="arrow" class="icon-white" src="/assets/images/icons/arrow-tilt-white.svg" />
              <img alt="arrow" class="icon-black" src="/assets/images/icons/arrow-tilt.svg" />
            </a>
          </li>
          {% endfor %}
        </ul>
      {% elsif item.submenu %}
        <ul class="sub-menu">
          {% for subitem in item.submenu %}
          <li class="menu-item">
            <a href="/{{ lang }}{{ subitem.url }}" class="text-link menu-link-2">
              {{ subitem.title }}
              <img alt="arrow" class="icon-white" src="/assets/images/icons/arrow-tilt-white.svg" />
              <img alt="arrow" class="icon-black" src="/assets/images/icons/arrow-tilt.svg" />
            </a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
