<div id="why-sound-matters">
  <div class="container">
    <div class="sound-header">
      <h2 class="title heading">{{ t.title }}</h2>
      <p>{{t.description | safe}}</p>
    </div>

    <div class="parent-container">
      <div class="card-container">
        {% for card in t.cards.list1 %}
        <div class="card">
          <div class="card-content">
            <img src="{{ card.img_src }}" alt="{{ card.subtitle }}">
            <div class="card-divider"></div>
            <div class="card-title button">{{ card.subtitle }}</div>
            <div class="card-text">{{ card.description }}</div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="card-container">
        {% for card in t.cards.list2 %}
        <div class="card">
          <div class="card-content">
            <img src="{{ card.img_src }}" alt="{{ card.subtitle }}">
            <div class="card-divider"></div>
            <div class="card-title button">{{ card.subtitle }}</div>
            <div class="card-text">{{ card.description }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>



    <div class="player-list">
      {% assign lang = page.lang %} {% assign p1 =
      site.data.locales[lang]['soundscape'].p1 %} {% for play in p1 %}

      <div class="player" data-target="{{play.id}}">
        <div class="player-icon">
          <img src="/assets/images/icons/play-icon.png" alt="play-icon" class="play-btn" />
          <img src="/assets/images/icons/pause-icon.png" alt="play-icon" class="pause-btn hide" />
          <audio id="{{play.id}}" src="{{play.url}}"></audio>
        </div>
        <div class="content">
          <div class="info">
            <h3 class="play-name button">{{play.name}}</h3>
            <p class="play-credits">
              {{play.album}}
              <i class="play-credits">Credits: {{play.credits}}</i>
            </p>
          </div>
          <div class="timing">
            <img src="/assets/images/icons/clock.svg" alt="clock" />
            <span class="duration">00:00</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="steps">
    <div class="container">
      <div class="steps-wrapper">
        {% for step in t.steps %}
        <div class="step">
          <h3 class="title heading">{{step.id}}</h3>
          <p class="info">
            {{step.title}}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="scroll-to-top" id="scroll-top">
    <img src="/assets/images/icons/arrow-up.svg" alt="arrow-up" />
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const scrollToTopButton = document.getElementById('scroll-top');

      window.addEventListener('scroll', function () {
        if (window.scrollY > window.innerHeight / 2) {
          scrollToTopButton.classList.add('visible');
        } else {
          scrollToTopButton.classList.remove('visible');
        }

        const scrollBottom = document.documentElement.scrollHeight - window.innerHeight - window.scrollY;

        if (scrollBottom < 198) {
          scrollToTopButton.style.marginBottom = `${198 - scrollBottom}px`;
        } else {
          scrollToTopButton.style.marginBottom = '0';
        }

        if (window.innerWidth < 768) {
          scrollToTopButton.style.marginBottom = '0';
        }
      });

      scrollToTopButton.addEventListener('click', function () {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      });
    });

  </script>
</div>