---
---

@import "global";

.acc-home {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    img {
        max-width: 100%;
        width: 100%;
    }

    p {
        text-align: center;
    }

    @media (min-width: $mobile_screen) {
        max-width: 100%;
        width: 100%;
        flex-wrap: nowrap;

        p {
            padding: 0 36px;
        }
    }
}

#team {
    display: flex;
    flex-wrap: wrap;

    .card {
        border: 2px solid $black;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 620px;
        border-top: 0px;

        .images {
            max-height: 500px;

        }

        .images,
        img {
            position: relative;
            max-width: 100%;
            width: 100%;
        }

        .overlay {
            opacity: 0;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5); // Black overlay
            justify-content: center;
            align-items: center;
            transition: 0.3s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            flex-direction: column;
            padding: 20px;
            text-align: center;

            img.icon {
                height: 41px !important;
                width: 75px !important;
            }

            p {
                color: $white;
            }
        }

        &:hover .overlay {
            opacity: 1;
        }

        .card-footer {
            height: 120px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 30px;
        }
    }

    #card1 {
        width: 66.66%;

        .images {
            display: flex;
            flex-wrap: wrap;

            img {
                width: 100%;
                max-height: 500px;
                height: auto;
                object-fit: cover;
                background-position: center;
            }
        }

        &:hover .overlay {
            display: flex;
        }

        .card-footer {
            border-top: 2px solid $black;
        }
    }

    #card2 {
        width: 33.33%;
        flex-direction: column-reverse; // Description on top for desktop

        .images {
            width: 100%;
            height: 100%;
        }

        .images img {
            height: 100%; // Subtract the footer height
            width: 100%;
            object-fit: cover;
        }

        &:hover .overlay {
            display: flex;
        }

        .card-footer {
            border-top: 2px solid $black;
        }
    }

    @media (max-width: 991px) {

        // Adjust based on your mobile breakpoint
        #card1 {
            width: 100%;

            .images img {
                width: 100%; // Adjust if you want a different layout on mobile
            }
        }

        #card2 {
            width: 100%;
            flex-direction: column;

            .images img {
                width: 100%; // Adjust if you want a different layout on mobile
            }
        }
    }

    @media (min-width: $mobile_screen) {
        .border-b {
            border-bottom: 2px solid $black;
        }

        .border-t {
            border-top: 2px solid $black;
        }

        .border-l {
            border-left: 2px solid $black !important;
        }

        .border-r {
            border-right: 2px solid $black;
        }

        .border-x {
            border-left: 2px solid $black;
            border-right: 2px solid $black;
        }

        .border-y {
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;
        }

        .card {
            border: 0px solid $black;
        }

        #card2 {
            .card-footer {
                border-top: 0px solid $black;
            }
        }
    }
}

.icon {
    display: block;
    // Add styles for the eye icon here
}

#info {
    padding: 60px 0;

    @media (min-width: $mobile_screen) {
        padding: 80px 0;
    }

    .info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h2 {
            font-size: 44px;
            font-weight: 700;
            line-height: 44px;
            text-transform: uppercase;
        }

        @media (min-width: $mobile_screen) {
            gap: 80px;

            h2 {
                font-size: $heading-font-size;
                line-height: $heading-line-height;

            }

        }
    }
}

.slider {
    position: relative;

    .slide {
        max-height: 530px;
        height: 530px;

        @media (min-width: $mobile_screen) {
            max-height: 622px;
            height: 622px;
        }

        img {
            height: calc(100% - 120px);
            object-fit: cover;
        }
    }

    .slide-content {
        padding-left: 90px;
        padding-right: 30px;
        height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;

        p {
            @media (max-width: 768px){
                display: none;
            }
        }

        @media (min-width: $mobile_screen) {
            padding-left: 160px;
            padding-right: 160px;
        }
    }
}

.slick-prev,
.slick-next {
    background-color: $white;
    padding: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $black;

    @media (min-width: $mobile_screen) {
        height: 120px;
        width: 120px;
        left: 0;
    }

    img {
        width: 43px;
    }

    img.icon-white {
        display: none;
    }

    &:hover {
        background-color: $black;

        img.icon-black {
            display: none;
        }

        img.icon-white {
            display: block;
        }
    }
}

.slick-prev {
    bottom: 60px;
    top: unset;
    border-bottom: 0;

    @media (min-width: $mobile_screen) {
        border: 2px solid $black;
        border-left: none;
        bottom: 0;
        left: 0;
    }
}

.slick-next {
    right: unset;
    left: 0;

    @media (min-width: $mobile_screen) {
        right: 0px;
        left: unset;
    }
}

/* WHY SOUND MATTERS */

#why-sound-matters {
    .sound-header {
        max-width: 960px;

        h2 {
            margin: 30px 0;
        }

        @media (min-width: $mobile_screen) {
            h2 {
                margin: 80px 0;
            }

        }

    }

    // Variables for easy customization
    $card-padding: 20px;
    $card-margin: 80px;
    $card-border: 1px solid #000;
    $card-border-radius: 5px;
    $card-background-color: #fff;
    $image-height: 300px;
    $line-height: 1.5;
    $font-size: 20px;
    $font-color: #333;
    $title-font-size: 16px;
    $title-font-weight: bold;
    $divider-height: 2px;
    $divider-color: #000;

.parent-container {
    display: inline-block;
    @media(min-width: $mobile_screen){
        display: flex;
    }
    justify-content: space-between;
    margin-top: 30px;
    gap: $card-margin;
    .card-container {
        // display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: $card-margin;
        margin-top: 50px;
        width:100%; 
        @media(min-width: $mobile_screen){
            margin-top: 100px;
            width: 50%;
        }

        .card {
            background-color: $card-background-color;
            overflow: hidden;
            margin-bottom: $card-margin;

            img {
            width: 100%;
            height: $image-height;
            object-fit: cover;
            }

            .card-content {
                padding: 0;

                .card-title {
                    margin-bottom: $card-padding;
                }

                .card-divider {
                    height: $divider-height;
                    background-color: $divider-color;
                    margin: $card-padding 0;
                }

            }
        }
    }
}


    .mobile-mt-0 {
        @media (max-width: $mobile_max_screen) {
            margin-top: 0;
        }
    }

    .card-info-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        font-family: $font-family;
        max-width: 900px;

        &.first {
            margin: 30px 0;
        }

        &.second {
            margin: 30px 0;
        }

        &.third {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 26px;
        }

        @media (min-width: $mobile_screen) {
            font-size: 32px;
            line-height: 52px;

            &.first {
                margin: 80px 0;
            }

            &.second {
                margin: 80px 0;
            }

            &.third {
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 80px;
            }
        }
    }

    .scroll-to-top {
        display: none;
        height: 120px;
        width: 120px;
        background-color: #fff;
        border: 2px solid #000;
        position: fixed;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 0;
        z-index: 100;

        @media (min-width: 767.98px){
            // margin-bottom: 198px;
        }
    }

    .scroll-to-top.visible {
        display: flex;
    }

    .steps {
        background-color: $primary;
        padding-top: 30px;
        padding-bottom: 150px;
        position: relative;

        @media (min-width: $mobile_screen) {
            padding: 80px 0;
            padding-bottom: 80px;
        }

        .steps-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .step {
                h3 {
                    border-bottom: 2px solid $black;
                    padding-bottom: 22px;
                }

                p {
                    margin-top: 12px;
                }

                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0;
            }

            @media (min-width: $mobile_screen) {
                flex-wrap: nowrap;
                gap: 64px;

                .step {
                    h3 {
                        padding-bottom: 44px;
                    }

                    p {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

/* PROJECT STYLES */
#projects {

    .projects-header {
        padding: 30px 0;

        @media (min-width: $mobile_screen) {
            padding: 80px 0;
        }
    }


    .list {
        .container {
            padding: 0 !important;

            @media (min-width: $mobile_screen) {
                padding: 0 20px !important;
            }
        }
        .scroll-to-top {
            display: none;
            height: 120px;
            width: 120px;
            background-color: #fff;
            border: 2px solid #000;
            position: fixed;
            right: 0;
            bottom: 0;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-bottom: 0;
            z-index: 100;

            @media (min-width: 767.98px){
                // margin-bottom: 198px;
            }
        }

        .scroll-to-top.visible {
            display: flex;
        }

        .container.label {
            padding: 0 30px !important;
        }

        .list-item {
            text-decoration: none;
            color: unset;
            display: block;
            border: 2px solid $black;
            position: relative;
            position: relative;
            border-bottom: 0px solid $black;

            &:last-child {
                border-bottom: 2px solid $black;
            }

            @media (min-width: $mobile_screen) {
                border: 0px solid $black;
                border-top: 2px solid $black;
            }

            &:before {
                content: "";
                position: absolute;
                background-color: $primary;
                left: 0;
                top: 0;
                height: 100%;
                width: 50%;
            }

            &::after {
                content: "";
                height: 100%;
                position: absolute;
                //background-color: #f1f1f1; - removing whitish card overlay
                opacity: 0.3;
                left: 0;
                top: 0;
                height: 100%;
                width: 0;
                transition: 0.3s all ease;
                z-index: 10;
            }

            &:hover {
                &::after {
                    width: 100%;
                }

                .card .media .overlay {
                    opacity: 1;
                }
            }



            .card {
                display: flex;
                position: relative;
                width: 100%;
                background-color: $white;
                gap: 32px;
                min-height: 300px;
                flex-wrap: wrap;

                @media (min-width: $mobile_screen) {
                    flex-wrap: nowrap;
                    height: 340px;
                }

                .media {
                    width: 100%;
                    height: 258px;
                    border-left: 0px solid $black;
                    border-top: 0px solid $black;
                    border-bottom: 2px solid $black;
                    position: relative;

                    .overlay {
                        opacity: 0;
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(0,0,0,0.5); // Black overlay
                        justify-content: center;
                        align-items: center;
                        transition: 0.3s all ease;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 24px;
                        flex-direction: column;
                        padding: 20px;
                        text-align: center;

                        img.icon {
                            height: 41px !important;
                            width: 75px !important;
                        }

                        p {
                            color: $white;
                        }
                    }


                    img {
                        max-width: 100%;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    @media (min-width: $mobile_screen) {
                        width: 45%;
                        min-width: calc(45% - 20px);
                        border-left: 2px solid $black;
                        border-right: 2px solid $black;
                        border-bottom: 0px solid $black;
                        height: auto;

                    }
                }

                .content {
                    width: 100%;
                    padding: 0 20px 30px;
                    min-height: 120px;

                    h3 {
                        margin-bottom: 16px;
                    }

                }

                .info {
                    width: 100%;
                    padding: 0 20px;
                    display: none;

                    p {
                        color: $grey;
                        margin-bottom: 30px;

                        span {
                            color: $black;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                @media (min-width: $mobile_screen) {
                    .content {
                        width: 35%;
                        min-width: calc(35% - 20px);
                        padding: 30px 30px 0;

                        h3 {
                            margin-bottom: 30px;
                        }

                    }

                    .info {
                        width: 20%;
                        min-width: calc(20% - 20px);
                        padding: 30px 0;
                        display: block;
                    }
                }
            }
        }
    }
}


/* PROJECT DETAILS STYLES START'S HERE */
#project_details {
    padding: 30px 0;

    .description {
        margin-top: 20px;
        margin-bottom: 30px;
        color: $black;
    }

    .info-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .info-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;

            .col {
                gap: 20px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .content {
                    width: 100%;

                    p {
                        color: $grey;
                    }
                }

            }

            .tags {
                max-width: 300px;
            }
        }
    }

    .card {
        border: 2px solid $black;
        margin: 30px 0;

        img {
            max-width: 100%;
            object-fit: cover;
            height: 100%;
            width: 100%;
            max-height: 280px;
            display: block;
        }

        .footer {
            border-top: 2px solid $black;
            padding: 16px 20px;
            min-height: 60px;


            p {
                font-style: italic;
            }
        }
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        color: $black;

        .col {
            width: 100%;

        }

    }

    p.text {
        color: $black;

        a {
            color: $black;
            display: inline-block;
        }

        a.list-links {
            margin-bottom: 16px;
        }

        span {
            margin-bottom: 16px;
            display: inline-block;

            a {
                margin-bottom: 0;
            }
        }
    }

    h4.about-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 2px;
        color: $black
    }

    @media (min-width:$mobile_screen) {
        padding: 80px 0;

        .description {
            margin-top: 60px;
            margin-bottom: 40px;
        }

        .info-wrapper {
            flex-wrap: nowrap;
            gap: 44px;

            .info-content {
                flex-wrap: nowrap;
                gap: 44px;

                .col {
                    flex-wrap: nowrap;
                    gap: 44px;

                }
            }
        }

        .card {
            margin: 80px 0;

            img {
                max-height: 740px;
            }

            .footer {
                padding: 40px;
                min-height: 120px;
            }
        }
        .no-card {
            margin-top: 80px;
        }

        h4.about-title {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 4px;

        }

        .about {
            flex-wrap: nowrap;
            gap: 80px;
            margin-top: 40px;
            margin-bottom: 80px;
        }

    }
}

.navigation-action-buttons {
    display: flex;
    width: 100%;
    border: 2px solid $black;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
    background-color: $primary;

    &::after {
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: black;
        top: 0;
        left: calc(50% - 1px);
        content: '';
    }

    a {
        background-color: $primary;
        text-decoration: none;
        height: 40px;
        display: flex;
        gap: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;
        padding: 20px;
        border: none;
        margin: 0 10px;

        svg {
            width: 24px !important;
        }

        &:hover {
            background-color: black;
            color: $white;
        }

    }

    @media (min-width:$mobile_screen) {
        height: 240px;

        a {
            height: 100px;
            font-size: 6vw;
            font-weight: 500;
            margin: 0 30px;

            svg {
                width: 68px !important;
            }
        }
    }
}

#noResultsMessage {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;

    @media (min-width:$mobile_screen) {
        padding: 40px;
        font-size: 32px;

    }
}

/* PROJECT DETAILS STYLES END'S HERE */


/* MEDIA CARD */
#media {
    .title {
        padding: 30px 0;
    }

    @media (min-width:$mobile_screen) {
        .title {
            padding: 80px 0;
        }
    }
}

.videos {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width:$mobile_screen) {
        gap: 80px;
    }
}

.video-card {
    border: 2px solid $black;

    .footer {
        border-top: 2px solid $black;
        padding: 16px 20px;
        z-index: 2;
        position: relative;
        top: -2px;

        h3 {
            max-width: 100%;
        }

        p {
            font-style: italic;
            max-width: 100%;
        }
    }

    @media (min-width:$mobile_screen) {
        .footer {
            padding: 40px;

            h3 {
                max-width: 50%;
            }

            p {
                max-width: 50%;
            }
        }

    }
}

.article-card {
    border-bottom: 2px solid $black;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &:first-child {
        border-top: 2px solid $black;
    }


    .content {
        padding: 16px 0 10px;

        p {

            a {
                color: $black;
                text-transform: uppercase;
                font-style: normal;
            }
        }
    }

    .info {
        padding: 10px 0 16px;
        gap: 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        min-width: 100%;

        p {
            font-style: italic;
            color: $grey;
        }
    }

    .readmore {
        color: $black;
    }

    @media (min-width:$mobile_screen) {
        flex-wrap: nowrap;
        gap: 40px;

        .content {
            padding: 40px 0;
        }

        .info {
            gap: 40px;
            padding: 40px 0;
            min-width: 26%;
        }

    }
}

.audios.p-0 {
    margin: 0 !important;
}

.responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.27%;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


#events {
    .about {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .info-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .col {
            gap: 20px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .content {
                width: 100%;

                h3 {
                    color: $black;
                }

                p {
                    color: $grey;
                }
            }

        }
    }

    p.text {
        color: $black;

        a {
            color: $black;
            display: inline-block;
        }
    }

    @media (min-width:$mobile_screen) {
        .about {
            gap: 80px;
        }

        .info-wrapper {
            flex-wrap: nowrap;
            gap: 44px;

            .col {
                flex-wrap: nowrap;
                gap: 44px;
            }
        }
    }

    .no-border {
        border-bottom: 0px !important;
    }
}

#about {
    .container.no-padding {
        padding: 0;
    }

    @media (min-width:$mobile_screen) {
        .container.no-padding {
            padding: 0 40px;
        }
    }

    .acc-header {
        border-left: 2px solid $black;
    }

    .acc-header.active.bordered {
        border-bottom: 0;
    }

    .acc-content {
        padding: 0;
        border: 0;
    }
}

#collaborators {
    &.active {
        border-left: 2px solid $black;
        border-right: 2px solid $black;
    }

    .row {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;

        @media (min-width:$mobile_screen) {
            flex-wrap: nowrap;
            padding: 40px;
            gap: 0px;
        }
    }

    .col {
        width: 100%;
    }

    a.member,
    p.member {
        color: $black;
        display: block;
        margin-bottom: 16px;
        height: 50px;
    }

    a.link,
    p.link {
        color: $black;
        height: 50px;
        margin-bottom: 16px;
        display: flex;
    }

}

#partners {
    margin-top: 30px;

    .content {
        padding: 30px 0;
        border-bottom: 2px solid $black;

        &:last-of-type {
            border-bottom: 0;
        }

        h3 {
            min-height: 54px;
            text-transform: uppercase;
        }

        p {
            display: block;
            margin-top: 24px;

            &:nth-of-type(1) {
                margin-top: 0;
            }

            a {
                color: $black;
                display: inline-block;
                line-break: anywhere;
            }
        }
    }

    @media (min-width:$mobile_screen) {
        margin-top: 80px;

        .content {
            padding: 40px 0;

        }
    }
}

#services {
    padding-top: 30px;
    .service-wrapper {
        background-color: $primary;
        padding: 80px 0;
    }
    .description {
        margin: 30px 0;
    }

    @media (min-width:$mobile_screen) {
        padding-top: 80px;

        .description {
            margin: 80px 0;
            max-width: 800px;
        }
        .service-wrapper {
            background-color: $primary;
            padding: 40px 0;
        }
    }

    

    .services {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;

        .service {
            flex: 0 0 calc(100%);
            text-align: left;

            img {
                height: 144px;
                width: 144px;
                min-height: 144px;
                max-height: 144px;
                min-width: 144px;
                max-width: 144px;
                margin: 0 auto 30px auto;
            }

            p {
                border-top: 2px solid;
                padding-top: 30px;
            }
        }
                                                                
    
        @media (min-width:$mobile_screen) {
            gap: 80px;

            .service {
                flex: 0 0 calc(25% - 80px);
            }
        }
    }
    .ul-list {
        li {
            font-size: 20px;
            line-height: 32px;
        }
        @media (min-width:$mobile_screen) {
            li {
                font-size: 16px;
                line-height: 24px;
            }

        }
    }
}
.contact {
    .row {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }
    @media (min-width:$mobile_screen) {
        .row {
            gap: 80px;
            flex-wrap: nowrap;
        }
        .col {
            width: 50%;
        }
    }
}