<footer id="footer">
  <div class="container">
    <div class="wrapper">
      <div class="location">
        <img src="/assets/images/icons/location.svg" alt="location-icon" />
        <p>
          <span>
            School of Information Studies<br />
            McGill University 3661 Peel <br />
            Street Montreal, QC (Canada) <br />
            H3A 1X1
          </span>
        </p>
      </div>
      <div class="copy-right"><p>© 2023 Sounds in the City</p></div>
    </div>
  </div>
</footer>
