<div id="banner">
  <div class="logo-text">
    <img src="/assets/images/logos/typo.png" alt="logo" />
  </div>
  <div class="slider">
    <div class="slider1" id="slider1">
      {% for slide in t.slides %}
      <div class="slide">
        <img src="{{slide.image}}" alt="{{slide.title}}" />
        <div class="slide-content">
          <h2>{{slide.title}}</h2>
          <p>{{slide.description}}</p>
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="slick-prev">
      <img
        src="/assets/images/icons/arrow-left-black.svg"
        alt="arrow-left"
        class="icon-black"
      />
      <img
        src="/assets/images/icons/arrow-left.svg"
        alt="arrow-left"
        class="icon-white"
      />
    </div>
    <div class="slick-next">
      <img
        src="/assets/images/icons/arrow-right-black.svg"
        alt="arrow-right"
        class="icon-black"
      />
      <img
        src="/assets/images/icons/arrow-right.svg"
        alt="arrow-right"
        class="icon-white"
      />
    </div>
  </div>
</div>
<div id="info">
  <div class="container">
    <div class="info-wrapper">
      <h2>
        {{ t.cities }} <br />
        {{ t.sound }}
      </h2>
      <h4>{{t.notbad}}</h4>
      <p>{{t.description}}</p>
    </div>
  </div>
</div>
<div class="accordions">
  {% for item in t.accordions %}
  <div class="accordion">
    <button class="acc-header" data-target="{{ item.id }}">
      <span class="label container">{{ item.title }}</span>
      <span class="icon"></span>
    </button>
    <div id="{{ item.id }}" class="acc-content">
      <div class="container">
        <div class="acc-home">
          <img src="{{ item.image }}" alt="" />
          <p class="desc">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div id="team">
  <div class="card" id="card1">
    <div class="images">
      <div class="overlay">
        <img src="/assets//images/icons/eye.svg" alt="" class="icon" />
        <p>{{t.discover}}</p>
      </div>
      <!-- Assuming 6 images, 3 in each row for card1 -->
      <img src="/assets/images/team/1.png" alt="" />
      <img src="/assets/images/team/2.png" alt="" />
      <img src="/assets/images/team/3.png" alt="" />
      <img src="/assets/images/team/4.png" alt="" />
      <img src="/assets/images/team/5.png" alt="" />
      <img src="/assets/images/team/6.png" alt="" />
    </div>
    <div class="card-footer border-t border-l">
      <h3>{{t.who}}</h3>
      <p>{{t.meet}}</p>
    </div>
  </div>
  <div class="card border-l" id="card2">
    <div class="images">
      <div class="overlay">
        <img src="/assets/images/icons/eye.svg" alt="" class="icon" />
        <p>{{t.view}}</p>
      </div>
      <img src="/assets/images/findings.png" alt="" />
    </div>
    <div class="card-footer border-b border-r">
      <h3>{{t.funding}}</h3>
    </div>
  </div>
</div>
